<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hassan.footquiz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!--<activity-->
            <!--android:name=".MainActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@android:style/Theme.Light.NoTitleBar"/>-->

        <!--<activity-->
            <!--android:name=".Start"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@android:style/Theme.Light.NoTitleBar"/>-->

        <!--<activity-->
            <!--android:name=".Coach"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@android:style/Theme.Light.NoTitleBar">-->

        <!--</activity>-->

        <activity
            android:name=".Spin"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<activity-->
            <!--android:name=".Player"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@android:style/Theme.Light.NoTitleBar"/>-->

        <!--<activity-->
            <!--android:name=".International"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@android:style/Theme.Light.NoTitleBar"/>-->

        <!--<activity-->
            <!--android:name=".National"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@android:style/Theme.Light.NoTitleBar"/>-->


        <activity
            android:name=".NewPlayer"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"
            android:theme="@android:style/Theme.Light.NoTitleBar"/>

        <activity
            android:name=".LastPlayer"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"/>

        <activity
            android:name=".PreviousPlayer"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"/>
    </application>

</manifest>